<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcl.androidtvmusicplayer">
    <uses-permission android:name="android.permission.INTERNET" />
    <!--设置APP不需要触摸-->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false"/>

    <!--设置依赖leanback库-->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity android:name=".activity.MainActivity"
            android:icon="@drawable/ic_app_logo"
            android:logo="@drawable/ic_app_logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>